h1{color:grey;text-shadow:0cm 0 cm 0.09cm purple;

color:blue;font-size:1cm;

font-style:Times New Roman;
text-align:center;
text-decoration:blink;
text-indent:20pt;
text-transform:capitalize;
text-shadow:0cm 0cm 0.09cm purple;

}